  .movies > h2 {
    font-size: 3em;
    margin-top: 80px;
    text-align: center;
  }
  .movies > h3 {
    font-size: 2em;
    font-weight: 400;
    
  }
  .movies > img{
      max-height: 300px;
      justify-content: center;
  }
  .movies > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    text-align: center;
  }