.movie {
    text-align: center;
  }
  .movie > h2 {
    font-size: 3em;
    margin-top: 80px;
  }
  .movie > h3 {
    font-size: 2em;
    font-weight: 400;
  }
  .movie > img{
      height: 400px;
      justify-content: center;
  }
  .movie > div{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 700px;
  }
  .movie > div > div{    
    width: 700px;
    text-align: left;
  }